<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImageManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
    /* Style cho menu */
    .dropdown {
    position: relative;
    display: inline-block;
    margin-top:5px;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    }

    .dropdown:hover .dropdown-content {
    display: block;
    }

    /* Style cho icon tam giác ngược */
    .triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-left: 5px;
    margin-bottom: 3px;
    }

    /* Style cho các mục trong menu */
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {
    background-color: #f1f1f1;
    }
    
        .navbar-custom {
            background-color: rgba(0, 0, 0, 0.7); 
            border-bottom: 1px solid #e0e0e0;
        }

        .navbar-brand, .navbar-nav .nav-link {
            color: white !important;
        }

        .footer-custom {
            background-color: rgba(0, 0, 0, 0.7); 
            color: white;
            bottom:0;
        }

        strong {
            font-weight: bold;
            font-family: Comic Sans MS;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Categories" asp-action="Index">
                    <img src="https://files.oaiusercontent.com/file-ZPVgby3CjSnJpRBeythgTJbW?se=2024-06-04T13%3A31%3A44Z&sp=r&sv=2023-11-03&sr=b&rscc=max-age%3D31536000%2C%20immutable&rscd=attachment%3B%20filename%3D8b92749c-ed8e-4526-8f95-11b39206f035.webp&sig=YIZJJUR6o8PbzKsH%2BgDuwgiY0pgGc4lAbjVxEFAOHvc%3D" alt="Logo" style="width: 50px; height: 50px; border-radius:50%;" />
                    <strong>Images</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">Danh Mục</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Images" asp-action="Index">Hình Ảnh</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Images" asp-action="Search">Tìm Kiếm <i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="History" asp-action="Index">Lịch sử <i class="fa-regular fa-file"></i> </a>
                        </li>
                        <li style="position:absolute;right:40px;">
                            <div class="dropdown">
                                <button class="dropbtn">@ViewBag.Username<span class="triangle"></span></button>
                                <div class="dropdown-content">
                                    <form asp-action="Logout" asp-controller="Account" method="post">
                                        <button type="submit">Logout</button>
                                   </form>
                                </div>
                            </div>
                        <li/>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <!-- Display notifications -->
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer footer-custom text-center py-4">
        <div class="container">
            <h4>Image Management</h4>
            <p>Đây là API quản lý hình ảnh</p>
            <div class="social-icons my-3">
                <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-youtube"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy; 2024 - ImageManagement. Design By ToHieuFC</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
